.footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
.footer p {
  margin: 0;
  font-size: 1rem;
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #007bff;
}
  